<%- include('includes/head.ejs') %>
    <h1>Bienvenido a la Orden Final</h1>
    <main>
        <h2>Este es el principio del fin...</h2>
        <p>Los soldados de tu imperio:</p>
        <div class="row">
        <% if (soldados.length > 0) { %>
                <% for (let soldado of soldados) { %>
                    <div class="col s12 m4 l3">
                        <div class="card small">
                            <div class="card-image waves-effect waves-block waves-light">
                            <img class="activator" src="https://img2.freepng.es/20180211/quw/kisspng-horse-fire-flame-light-fire-horse-5a809f16e5faa8.014302841518378774942.jpg">
                            </div>
                            <div class="card-content">
                            <span class="card-title activator grey-text text-darken-4"><%= soldado.nombre %><i class="material-icons right">more_vert</i></span>
                            <p><a href="#">This is a link</a></p>
                            </div>
                            <div class="card-reveal">
                            <span class="card-title grey-text text-darken-4"><%= soldado.nombre %><i class="material-icons right">close</i></span>
                            <p>Here is some more information about this product that is only revealed once clicked on.</p>
                            </div>
                        </div>
                    </div>
                <% } %>
        <% } else { %>
            <h3>No existen soldados</h3>
        <% } %>   
        </div>
        <a href="/imperio/nuevo">
            <i class="material-icons">add</i> Agrega un nuevo sith trooper</a>
    </main>
<%- include('includes/foot.ejs') %>