<%- include('includes/head.ejs') %>
    <h1>Sitio administrativo del imperio</h1>
    <main>
        <p>Ingresa los datos del nuevo Emperador:</p>
        <form action="/users/signup" method="POST">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
            <label for="nombre">Nombre: </label>
            <input type="text" name="nombre" required>
            <label for="username">Usuario: </label>
            <input type="text" name="username" required>
            <label for="password">Contraseña: </label>
            <input type="password" name="password" required>
            <input type="submit" value="Enviar">
        </form>
        <br><br>
        <a href="/users/login/">Regresar a inicio de sesión</a>
    </br>
<%- include('includes/foot.ejs') %>