.fb {
  background-color: #0084db;
  color: white;
  padding: 15px 25px;
  text-decoration: none;

}
.ig {
  background-color: #cf04cf;
  color: white;
  padding: 15px 25px;
  text-decoration: none;
}
.fb:hover {
  background-color: #223094;
}
.ig:hover {
  background-color: #4d0050;
}
.button {
  border: none;
  color: powderblue;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.button2 {
  background-color: powderblue; 
  color: black; 
  border: 2px solid #008CBA;
}

.button2:hover {
  background-color: #008CBA;
  color: white;
}